/* @import "../../assets/scss/vendors/bootstrap/scss/bootstrap.scss";
@import "../../assets/scss/components/HEADINGS/features_h2.scss";
@import "../../assets/scss/";


//.zoomIn
@-webkit-keyframes zoomIn{0%{opacity:0;-webkit-transform:scale(.3);transform:scale(.3)}50%{opacity:1}}@keyframes zoomIn{0%{opacity:0;-webkit-transform:scale(.3);-ms-transform:scale(.3);transform:scale(.3)}50%{opacity:1}}.zoomIn{-webkit-animation-name:zoomIn;animation-name:zoomIn}

//.overlay
.overlay-2{background:rgba(0,0,0,.9)!important}.overlay{position:absolute;width:100%;height:100%;top:0;left:0;background:#F97794;opacity:.5;filter:alpha(opacity=80)}
 */



// .LP-Features {}